<hr>
<ng-container *ngIf="shippingMethods !== undefined">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="shippingForm" (ngSubmit)="onSubmitShippingForm()" novalidate>
                <div class="form-group">
                    <label>Name</label>
                    <input
                        type="text"
                        formControlName="shipping_name"
                        class="form-control"
                        required
                        minlength="2"
                        maxlength="35">
                    <div *ngIf="shipping_name.invalid && shipping_name.touched"
                         class="invalid-feedback d-block">
                        <span *ngIf="shipping_name.errors?.required">Name is required</span>
                        <span *ngIf="shipping_name.errors?.minlength">Minimum of 2 characters</span>
                        <span *ngIf="shipping_name.errors?.maxlength">Maximum of 35 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">
                        Address 1
                    </label>
                    <input
                        type="text"
                        formControlName="shipping_address1"
                        class="form-control"
                        required
                        maxlength="35">
                    <div *ngIf="shipping_address1.errors?.required && shipping_address1.touched"
                         class="invalid-feedback d-block">
                        Address is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="">
                        Address 2
                    </label>
                    <input type="text" formControlName="shipping_address2" class="form-control" maxlength="35" ngModel>
                </div>
                <div class="form-group">
                    <label for="">
                        Address 3
                    </label>
                    <input type="text" formControlName="shipping_address3" class="form-control" maxlength="35" ngModel>
                </div>
                <div class="form-group">
                    <label for="">
                        City
                    </label>
                    <input
                        type="text"
                        formControlName="shipping_city"
                        class="form-control"
                        required
                        maxlength="35">
                    <div *ngIf="shipping_city.errors?.required && shipping_city.touched"
                         class="invalid-feedback d-block">
                        Address is required
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        State
                    </label>
                    <input
                        type="text"
                        formControlName="shipping_state"
                        class="form-control"
                        required
                        maxlength="35">
                    <div *ngIf="shipping_state.errors?.required && shipping_state.touched"
                         class="invalid-feedback d-block">
                        State is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="">
                        Country
                    </label>
                    <input
                        type="text"
                        formControlName="shipping_country"
                        class="form-control"
                        required
                        maxlength="35">
                    <div *ngIf="shipping_country.errors?.required && shipping_country.touched"
                         class="invalid-feedback d-block">
                        Country is required
                    </div>
                </div>
                <!--todo loop shipping method here -->
                <div class="form-check" *ngFor="let shipping of shippingMethods">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-check-label">
                                <input
                                    required
                                    class="form-check-input"
                                    type="radio"
                                    formControlName="shipping_mehod"
                                    [value]="shipping.method">
                                {{ shipping.method }} Shipping
                            </label>
                        </div>
                        <div class="col">{{ shipping.shipping_rate | currency:'USD':'symbol':'1.2' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button
                            type="submit"
                            class="btn btn-primary btn-lg"
                            [disabled]="shippingForm.invalid">Continue
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-container>
