<hr>
<div class="row">
    <div class="col-md-6">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegistration()" novalidate>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" required>
                <div
                    *ngIf="registrationForm.get('email').errors?.email && registrationForm.get('email').touched "
                    class="invalid-feedback d-block">
                    Must be a valid email
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" required>
                <div
                    *ngIf="registrationForm.get('password').errors?.required && registrationForm.get('password').touched "
                    class="invalid-feedback d-block">
                    Password is required
                </div>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirm_password" required>
                <div
                    *ngIf="registrationForm.get('confirm_password').errors?.required && registrationForm.get('confirm_password').touched "
                    class="invalid-feedback d-block">
                    Please confirm your password
                </div>
                <div
                    *ngIf="registrationForm.get('confirm_password').errors?.mismatch && registrationForm.get('confirm_password').touched "
                    class="invalid-feedback d-block">
                    Password does not match
                </div>
            </div>

            <div class="form-group">
                <label>Company Name</label>
                <input class="form-control" formControlName="company_name">
            </div>

            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" formControlName="first_name" required>
                <div
                    *ngIf="registrationForm.get('first_name').errors?.mismatch && registrationForm.get('first_name').touched "
                    class="invalid-feedback d-block">
                    First name is required
                </div>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" formControlName="last_name" required>
                <div
                    *ngIf="registrationForm.get('last_name').errors?.mismatch && registrationForm.get('last_name').touched "
                    class="invalid-feedback d-block">
                    Last name is required
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="registrationForm.invalid">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" novalidate>
            <div class="form-group">
                <label>
                    Email
                </label>
                <input class="form-control" formControlName="email">
                <div *ngIf="loginForm.get('email').errors?.email && loginForm.get('email').touched"
                     class="invalid-feedback d-block">
                    Must be a valid email
                </div>
            </div>

            <div class="form-group">
                <label>
                    Password
                </label>
                <input type="password" class="form-control" formControlName="password">
                <div *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched"
                     class="invalid-feedback d-block">
                    Password is required
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
