.product-items-container {
    display: grid;
    grid: auto / 2fr;
    margin: 10px 0;

    .header {
        padding: 15px 0;
        font-weight: 700;
        border-bottom: 2px solid #e9ecef;
        display: none;
    }

    .price, .qty {
        grid-column: 1 / span 2;
    }

    .price-breakdown {
        .item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }

    .divider {
        grid-column: 1 / end;
    }

    .product {
        &-image, &-details {
            align-self: center;
            grid-column: 1 / span 2;
        }
    }

    .continue-buttons {
        grid-column: 1 / span 2;
        justify-self: end;
    }

    @media only screen and (min-width: 990px) {
        grid-template-columns: 2fr 3fr repeat(2, 1fr);

        .header {
            display: block;

            &-qty,
            &-price,
            &-action {
                text-align: right;
            }

            &-product {
                grid-column: 1 / span 2;
            }
        }

        .product {
            &-image {
                align-self: center;
                grid-column: 1;
            }

            &-details {
                align-self: center;
                grid-column: 2;
            }
        }

        .qty,
        .price,
        .action {
            grid-column: auto;
            justify-self: end;
            align-self: center;
        }

        .price-breakdown {
            grid-column: 3 / span 2;
        }

        .continue-buttons {
            grid-column: 2 / span 3;
            justify-self: end;
        }
    }
}

a[role=button] {
    cursor: pointer;
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}
