<hr>
<ng-container *ngIf="product !== undefined">
    <form #productOrderForm="ngForm" (ngSubmit)="onSubmit(productOrderForm)">
        <div class="form-group row">
            <div class="col-md-5">
                <img
                    [src]="product.product_image"
                    alt="{{ product.product_name }}"
                    class="mx-auto d-block">
            </div>
            <div class="col-md-7">
                <div class="form-group row">
                    <label for="product[name]" class="col-sm-3">Product Name:</label>
                    <div class="col-sm-9">
                        <p>{{ product.product_name }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="product[description]" class="col-sm-3">Product Description:</label>
                    <div class="col-sm-9">
                        <p>{{ product.product_desc }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="product[price]" class="col-sm-3">Unit Price:</label>
                    <div class="col-sm-9">
                        <p>{{ product.price | currency:'USD':'symbol':'1.2' }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="product[quantity]" class="col-sm-3 col-form-label">Quantity:</label>
                    <div class="col-sm-5">
                        <input (change)="onValidateQty()"
                               name="quantity"
                               type="number"
                               class="col-sm-4 form-control"
                               [(ngModel)]="qtyValue"
                               required
                               aria-required="true"
                               [disabled]="hasStock(product.stock_qty) || !canPurchase">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3">Price:</label>
                    <div class="col-sm-9">
                        <p>{{ product.price * qtyValue | currency:'USD':'symbol':'1.2' }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-auto" *ngIf="hasStock(product.stock_qty); else hasStockAvailable">
                        <h3><span class="badge badge-danger">Out of Stock</span></h3>
                    </div>
                    <ng-template #hasStockAvailable>
                        <div class="col-sm-2 ml-auto">
                            <button type="submit" class="btn btn-success">Add to Cart</button>
                        </div>
                    </ng-template>
                </div>

            </div>
            <input type="hidden" name="pid" [(ngModel)]="product.product_id">
        </div>
        <hr>
    </form>

</ng-container>
