<ng-container *ngIf="cartItems !== undefined">
    <div class="product-items-container">
        <div class="header header-product">Product</div>
        <div class="header header-qty">Quantity</div>
        <div class="header header-price">Price</div>

        <ng-container *ngFor="let cartItem of cartItems; let index = index">
            <div class="product-image">
                <img
                    [src]="cartItem.product_details.product_image"
                    [alt]="cartItem.product_details.product_name"
                    class="mx-auto d-block">
            </div>
            <div class="product-details">
                <p>{{ cartItem.product_details.product_name }}</p>
                <p>{{ cartItem.product_details.product_desc }}</p>
                <p>{{ cartItem.unit_price }}</p>
            </div>
            <div class="qty">
                <span>{{ cartItem.qty }}</span>
            </div>
            <div class="price">
                <span>{{ cartItem.price | currency:'USD':'symbol':'1.2' }}</span>
            </div>
            <div class="divider">
                <hr>
            </div>
        </ng-container>

        <div class="price-breakdown">
            <div class="item">
                <span class="label">Subtotal</span>
                <span class="value">{{ cartDetails.sub_total | currency:'USD':'symbol':'1.2' }}</span>
            </div>

            <div class="item">
                <span class="label">Shipping</span>
                <span class="value">{{ cartDetails.shipping_total | currency:'USD':'symbol':'1.2' }}</span>
            </div>

            <div class="item">
                <span class="label">Grand Total</span>
                <span class="value">{{ cartDetails.total_amount | currency:'USD':'symbol':'1.2' }}</span>
            </div>
        </div>

        <div class="continue-buttons">
            <a (click)="onProcessPayment()" class="btn btn-success btn-lg" role="button">Checkout</a>
        </div>
    </div>
</ng-container>
