<div class="container">
    <app-header></app-header>
    <ng-container *ngIf="hasError">
        <hr>
        <div class="alert alert-danger alert-dismissible fade" [ngClass]="{'show': hasError}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseErrorAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">{{ errorContainer.error.title }}</h4>
            <strong>{{ errorContainer.error.message }}</strong>
        </div>
    </ng-container>
    <router-outlet></router-outlet>
</div>
