<hr>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Thank you!</h1>
        <p class="lead">Your order has been confirmed!</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="/" role="button">Go back</a>
        </p>
    </div>
</div>
