<p *ngIf="products === undefined">Loading...</p>
<ng-container *ngFor="let product of products">
    <hr>
    <div class="row" [ngClass]="{'js-product-item': product.stock_qty > 0}"
         (click)="onGetProductDetails(product.product_id)">
        <div class="col-md-4">
            <img [src]="product.product_thumbnail" alt="{{ product.product_name }}"
                 class="rounded mx-auto d-block">
        </div>
        <div class="col-md-8">
            <p>Product Name: {{ product.product_name }}</p>
            <p>Product Description: {{ product.product_desc }}</p>
            <p>Product Price: ${{ product.price }}</p>
            <span *ngIf="hasStock(product.stock_qty)" class="badge badge-danger">Out of Stock</span>
        </div>
    </div>
</ng-container>



