<!-- HEADER -->
<div class="header">
    <div class="row mt-md-3">
        <div class="col-sm-12 col-md-8">
            <a routerLink="/">
                <img src="/assets/img/uprinting-logo.svg" alt="Uprinting.com" class="header-logo">
            </a>
        </div>
        <div class="col-sm-12 col-md-4 header-text-container">
            <div *ngIf="isLoggedIn; else notLoggedIn">
                <span>Welcome back {{ displayName }}</span> |
                <a (click)="onLogout()" class="btn btn-primary" role="button">Logout</a>
                |
                <a routerLink="cart" class="btn btn-success">Cart</a>
            </div>
            <ng-template #notLoggedIn>
                <a routerLink="login-register" class="btn btn-primary" role="button">Login</a>
                |
                <a routerLink="cart" class="btn btn-success">Cart</a>
            </ng-template>
        </div>
    </div>
</div>
