.header {
    &-logo {
        width: 300px;
        height: auto;
    }

    &-text-container {
        text-align: center;

        @media only screen and (min-width: 990px) {
            text-align: right;
        }
    }
}

a[role=button] {
    cursor: pointer;
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}
